---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Kalkulator">
  <div class="flex h-auto w-auto p-12 bg-purple-400 rounded-md flex-col gap-2">
    <div class="bg-white h-14 w-4rem rounded-md"></div>
    <div class="flex gap-1 justify-center items-center">
      <button
        class="bg-gray-300 rounded-md h-14 w-12 text-4xl flex justify-center items-center"
        >+</button
      >
      <button
        class="bg-gray-300 rounded-md h-14 w-12 text-4xl flex justify-center items-center"
        >-</button
      >
      <button
        class="bg-gray-300 rounded-md h-14 w-12 text-3xl font-bold flex justify-center items-center"
        >*</button
      >
      <button
        class="bg-gray-300 rounded-md h-14 w-12 text-3xl flex justify-center items-center"
        >/</button
      >
    </div>
    <div class="flex gap-1 justify-center items-center">
      <button
        class="bg-gray-300 rounded-md h-14 w-12 text-3xl flex justify-center items-center"
        >1</button
      >
      <button
        class="bg-gray-300 rounded-md h-14 w-12 text-3xl flex justify-center items-center"
        >2</button
      >
      <button
        class="bg-gray-300 rounded-md h-14 w-12 text-3xl flex justify-center items-center"
        >3</button
      >
      <button
        class="bg-gray-300 rounded-md h-14 w-12 text-3xl flex justify-center items-center"
        >4</button
      >
    </div>
    <div class="flex gap-1 justify-center items-center">
      <button
        class="bg-gray-300 rounded-md h-14 w-12 text-3xl flex justify-center items-center"
        >5</button
      >
      <button
        class="bg-gray-300 rounded-md h-14 w-12 text-3xl flex justify-center items-center"
        >6</button
      >
      <button
        class="bg-gray-300 rounded-md h-14 w-12 text-3xl flex justify-center items-center"
        >7</button
      >
      <button
        class="bg-gray-300 rounded-md h-14 w-12 text-3xl flex justify-center items-center"
        >8</button
      >
    </div>
    <div class="flex gap-1 justify-center items-center">
      <button
        class="bg-gray-300 rounded-md h-14 w-12 text-xl flex justify-center items-center"
        >Del</button
      >
      <button
        class="bg-gray-300 rounded-md h-14 w-12 text-3xl flex justify-center items-center"
        >9</button
      >
      <button
        class="bg-gray-300 rounded-md h-14 w-12 text-3xl flex justify-center items-center"
        >0</button
      >
      <button
        class="bg-gray-300 rounded-md h-14 w-12 text-3xl flex justify-center items-center"
        >.</button
      >
    </div>
  </div>
</Layout>
<a href="/">
  <button class="p-2 bg-white rounded-md m-8 ml-10">
    <img src="https://img.icons8.com/dusk/64/null/home-page.png" />
  </button>
</a>
