---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Main Page">
  <main class="flex flex-col justify-center items-center gap-4">
    <h1
      class="text-5xl font-bold bg-gradient-to-r bg-clip-text text-transparent from-indigo-500 to-purple-500"
    >
      Wellcome to Simply WebApp Funny
    </h1>
    <p>Lets Pick What You Want To Try</p>
    <Card title="Calculator" body="This is Simple Calculator" href="" />
  </main>
</Layout>
