---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Home/Card.astro";
---

<Layout title="Main Page">
  <main class="flex flex-col justify-center items-center gap-4 m-8">
    <h1
      class="flex justify-center md:text-5xl text-2xl font-bold bg-gradient-to-r bg-clip-text text-transparent from-indigo-500 to-purple-600 item-center"
    >
      Wellcome to Simply WebApp Funny
    </h1>
    <p>Lets Pick What You Want To Try</p>
    <Card title="Calculator" body="This is Simple Calculator" href="" />
  </main>
</Layout>
