---
import Layout from "../../layouts/Layout.astro";
import Calculator from "../../components/Calculator/Calculator";
---

<Layout title="Kalkulator" />
<Calculator client:load />
<a href="/">
  <button class="p-2 bg-white rounded-md m-8 ml-10">
    <img src="https://img.icons8.com/dusk/64/null/home-page.png" />
  </button>
</a>
